<header>
    <mat-toolbar color="primary">
        <a routerLink="" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Home
        </a>
        <a routerLink="products" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">product</mat-icon>
            Products
        </a>
        <a routerLink="blog" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">blog</mat-icon>
            Blog
        </a>
        <a routerLink="admin" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">admin</mat-icon>
            Admin
        </a>
    </mat-toolbar>
</header>