.product-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-list {
    display: flex;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 25px;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
    // background-color: antiquewhite;
}



.product-block span {
    font-weight: 500;
}

.great-product {
    color: red;
}