<h1>Personal blog</h1>
<div class="blog-container">
    <div class="blog-cart">
        <h2>{{blog.title}}</h2>
        <span>{{blog.date | date:'medium'}}</span>
        <p>{{blog.description}}</p>
    </div>
    <div class="blog-cart">
        <h2>{{blog.title}}</h2>
        <span>{{blog.date | date:'medium'}}</span>
        <p>{{blog.description}}</p>
    </div>
    <div class="blog-cart">
        <h2>{{blog.title}}</h2>
        <span>{{blog.date | date:'medium'}}</span>
        <p>{{blog.description}}</p>
    </div>
    <div class="blog-cart">
        <h2>{{blog.title}}</h2>
        <span>{{blog.date | date:'medium'}}</span>
        <p>{{blog.description}}</p>
    </div>
    <div class="blog-cart">
        <h2>{{blog.title}}</h2>
        <span>{{blog.date | date:'medium'}}</span>
        <p>{{blog.description}}</p>
    </div>
    <div class="blog-cart">
        <h2>{{blog.title}}</h2>
        <span>{{blog.date | date:'medium'}}</span>
        <p>{{blog.description}}</p>
    </div>
</div>